.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 150px;
  background-color: #f3f3f3;
  border-radius: 5px;
}
.subtotal > h3 {
  margin-left: 30px;
  font-size: large;
  font-weight: 600;
  display: flex;
  margin-bottom: 5px;
}
.subtotal > p {
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 5px;
  font-size: 15px;
}
.subtotal > button {
  width: 80%;
  background-color: #f0c14b;
  border-radius: 3px;
  border: 1px solid;
  height: 30px;
}
@media only screen and (max-width: 1000px) {
  .subtotal {
    width: 100%;
  }
}
